{% extends 'catalog/base.html' %}
{% load catalog_tags %}

{% block title %}Список продуктов в категории{% endblock %}

{% block content %}
<h1 class="display-4 text-center">{{ category.name }}
<a href="{% url 'catalog:category_list' %}" class="btn btn-outline-secondary"> <<< К списку категорий</a>
</h1>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ product.image | media_filter }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'catalog:products_detail' product.pk %}"
                               class="btn btn-sm btn-outline-secondary">Просмотр</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}