{% extends 'catalog/base.html' %}
{% block title %}Добавить продукт{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if object %}
                <h1 class="display-4 text-center">Редактировать продукт "{{ object.name }}"</h1>
            {% else %}
                <h1 class="display-4 text-center">Добавить продукт</h1>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary m-3">Сохранить</button>
                <a href="{% url 'catalog:products_list' %}" class="btn btn-secondary m-3">Отменить</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}